@media (min-width: 992px) {
  #mouse-circle {
    position: absolute;
    width: 44px;
    height: 44px;
    margin: -22px 0 0 -22px;
    border: 0px solid #0f1c64;
    border-radius: 50%;
    background-color: rgba(255,0,0,0.65);
    pointer-events: none;
  }
}

