#mouse-circle {
  position: 0;
  width: 0;
  height: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  pointer-events: 0;
}

@media (min-width: 992px) {
  #mouse-circle {
    position: absolute;
    width: 44px;
    height: 44px;
    margin: -22px 0 0 -22px;
    border: 0px solid #0f1c64;
    border-radius: 50%;
    background-color: rgba(23,0,88,0.4);
    pointer-events: none;
  }
}

