.page-footer {
  background-color: #000;
  font-family: Poppins, sans-serif;
  color: rgba(255,255,255,0.7);
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

.page-footer h4 {
  color: rgba(255,255,255,0.85);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.page-footer p {
  color: rgba(255,255,255,0.85);
  font-size: 11px;
}

.page-footer .footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 45px;
  word-break: break-all;
}

.page-footer .footer-links a {
  color: #ffffff;
  font-size: 11px;
  font-family: 'Poppins';
}

.page-footer .footer-links li {
  margin-bottom: 5px;
  line-height: 1.3;
}

.page-footer .footer-legal .legal-links .item {
  padding-right: 13px;
  border-right: 1px solid #ccc;
  margin: 0;
  margin-right: 13px;
}

.page-footer .footer-legal .legal-links .item:last-child {
  border-right: none;
}

.page-footer .region {
  margin-bottom: 20px;
}

.page-footer .region a {
  color: #555;
  font-size: 11px;
}

.page-footer .region img {
  margin-right: 7px;
}

@media (min-width: 768px) {
  .page-footer .region {
    margin-bottom: 0;
  }
}

.page-footer .fa.fa-twitter-square {
  font-size: 28px;
}

.page-footer .fa.fa-facebook-square {
  font-size: 28px;
  margin: 0 15px;
}

.page-footer .fa.fa-linkedin-square {
  font-size: 28px;
}

.d-inline-block.copyright {
  margin-right: 0px;
}

@media (min-width: 576px) {
  .d-inline-block.copyright {
    margin-right: 10px;
  }
}

.form-control {
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

