#contact a {
  color: rgb(255,255,255);
  font-size: 20px;
  font-weight: bold;
}

#contact p {
  font-size: 14px;
}

/* contact-faq */

#contact-faq h3 {
  padding: 0px;
  font-size: 32px;
  color: #333;
}

/* free-quote */

#free-quote {
  font-family: Poppins, sans-serif;
  color: rgb(255,255,255);
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px 10px;
  background-image: url("../../assets/img/brooke-cagle--uHVRvDr7pg-unsplash.jpg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  #free-quote {
    margin-top: 65px;
  }
}

#free-quote .div-left {
  padding: 0px;
  padding-top: 80px;
}

@media (min-width: 992px) {
  #free-quote .div-left {
    padding: 20px 65px;
    padding-top: 50px;
    padding-bottom: 120px;
  }
}

#free-quote h2 {
  font-size: 42px;
  margin-bottom: 30px;
  color: #333;
  font-family: 'Open Sans';
}

@media (min-width: 768px) {
  #free-quote h2 {
    font-size: 56px;
    font-weight: 400;
  }
}

#free-quote .contact-btn {
  font-size: 20px;
  padding: 15px 20px;
  border-color: rgba(255,255,255,0);
}

#free-quote a {
  color: rgb(255,255,255);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

#free-quote p {
  font-size: 14px;
}

#free-quote .form {
  border-radius: 7px;
  max-width: 560px;
  background-color: rgba(255,255,255,0);
  padding: 0;
}

#free-quote label {
  font-size: 16px;
  color: #333;
  font-family: 'Poppins';
  font-weight: 500;
}

#free-quote .form-control {
  color: #333;
  font-size: 17px;
  height: 48px;
  font-family: 'Open Sans';
  font-weight: 300;
}

#free-quote .btn.btn-primary.btn-block.form-btn {
  border: 3px solid #ffffff;
  border-radius: 5px;
  background-color: rgba(251,88,75,0.35);
  color: #ffffff;
  font-size: 15px;
  margin-top: 35px;
  font-weight: bold;
  padding: 10px 30px;
}

#free-quote .div-form {
  padding-top: 30px;
}

@media (min-width: 992px) {
  #free-quote .div-form {
    padding: 20px 65px;
    padding-top: 40px;
  }
}

#free-quote .form-controls {
  margin-right: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #free-quote .form-controls {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

#free-quote .col-md-5 {
  background-color: rgba(0,0,0,0.88);
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  #free-quote .col-md-5 {
    margin-left: 5px;
    margin-right: 0;
  }
}

