.div-phone {
  border: 1px solid rgba(255,255,255,0.2);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

@media (min-width: 768px) {
  .div-phone {
    border: 1px solid rgba(255,255,255,0.2);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
}

#footer-form .btn.btn-success.btn-block {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: rgba(251,88,75,0.85);
  font-weight: 600;
  border: 3px solid #ffffff;
  color: #ffffff;
  padding: 13px 42px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  #footer-form form {
    max-width: 500px;
  }
}

#footer-form label {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

#footer-form {
  background-color: rgba(125,79,255,0.85);
  padding: 10px 0;
  color: #fff;
  font-size: 21px;
  margin: 5px;
  padding-bottom: 30px;
}

@media (min-width: 576px) {
  #footer-form .row {
    max-width: 900px;
    margin: 0 auto;
  }
}

#footer-form h4 {
  font-size: 42px;
  font-family: Poppins, sans-serif;
  margin-bottom: 32px;
  font-weight: 600;
  margin-right: 15px;
}

#footer-form a {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

#footer-form .div2-btn {
  background-color: rgb(57,57,57);
  font-size: 15px;
  font-family: Poppins, sans-serif;
  color: #ffffff;
  font-weight: 600;
  border: 3px solid #ffffff;
  margin-top: 20px;
  padding: 12px 32px;
  margin-bottom: 0;
  box-shadow: -14px 17px 13px -4px rgba(0,0,0,0.75);
}

#footer-form h2 {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  padding: initial;
  font-weight: 600;
}

@media (min-width: 992px) {
  #footer-form h2 {
    font-size: 46px;
    font-family: Poppins, sans-serif;
  }
}

.div-phone {
  border: 1px solid rgba(255,255,255,0.2);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

@media (min-width: 768px) {
  .div-phone2 {
    padding: 25px;
  }
}

.div-phone2 {
  padding: 0;
}

@media (min-width: 768px) {
  .div-phone {
    border: 1px solid rgba(255,255,255,0.2);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
}

#footer-form .div-right {
  padding: 20px;
}

#footer-form .form-row {
  max-width: 100%;
}

@media (min-width: 768px) {
  #footer-form .form-row {
    max-width: 90%;
  }
}

#footer-form .div-form {
  margin: 20px;
  margin-right: 10px;
}

#web-hero .contact-btn {
  border: 2px solid;
  height: 42px;
  width: 270px;
}

.btn.btn-primary.footer-call {
  font-size: 14px;
  padding: 16px 42px;
  border: 3px #fff;
  background-color: rgb(247,196,14);
  padding-bottom: 16px;
  margin-bottom: 30px;
  box-shadow: -14px 17px 13px -4px rgba(0,0,0,0.75);
}

#footer-form .form-control {
  border: 2px solid #ffffff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
  color: rgb(255,255,255);
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

@media (min-width: 768px) {
  #footer-form .form-control {
    border: 3px solid #ffffff;
    border-top: 0;
    border-left: 0;
    border-radius: 0px;
  }
}

