#hero-1 {
  background-image: url("../../assets/img/light-bulbs-5488573_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-1 .btn-1 {
  border: 2px solid;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  width: 270px;
  height: 42px;
  background-color: rgba(0,123,255,0);
  margin-top: 10px;
}

@media (min-width: 768px) {
  #hero-1 .btn-1 {
    margin-top: 0;
    margin-left: 10px;
  }
}

#hero-1 .div-hero {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins';
  padding: 110px 0px;
}

@media (min-width: 768px) {
  #hero-1 .div-hero {
    padding: 120px 0;
    padding-top: 150px;
  }
}

#hero-1 .div-2 {
  max-width: 800px;
  margin: 0 auto;
}

#hero-1 .p-top {
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
  color: #ffffff;
}

#hero-1 .p-bot {
  font-size: 11px;
  font-family: 'Poppins';
  font-weight: 400;
  color: rgb(255,255,255);
}

#hero-1 h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  #hero-1 h1 {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

#hero-1 .feature-btn {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  #hero-1 .feature-btn {
    margin-right: 8px;
  }
}

#hero-1 .overlay {
  background-color: rgba(0,0,0,0.7);
}

#hero-1 .div-hero-2 {
  color: #fff;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  #hero-1 .div-hero-2 {
    color: #fff;
    padding-bottom: 10px;
    padding-right: 50px;
  }
}

#hero-1 .div-2 {
  color: #fff;
  padding: 25px 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #hero-1 .div-2 {
    color: #fff;
    padding-bottom: 30px;
  }
}

#hero-1 .div-1 {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins';
  padding: 55px 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #hero-1 .div-1 {
    padding: 110px 0;
  }
}

section {
  padding: 0;
}

/* brands */

.brands a {
  display: block;
  text-align: center;
  padding: 20px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 20px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

img, svg {
  width: 110px;
}

/* nav */

#mainNav, #mainNav .navbar-brand {
  font-family: 'Poppins';
}

#mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .8rem;
  font-weight: 600;
}

.navbar-light .navbar-toggler {
  color: #9743ff;
  border-color: #ffffff;
}

sub {
  font-size: 20px;
  color: rgba(0,0,0,0.65);
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}

#acc-design-1 h2 {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  font-family: 'Poppins';
}

@media (min-width: 992px) {
  #acc-design-1 h2 {
    font-size: 52px;
    color: #000;
  }
}

#acc-design-2 h3 {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  font-family: 'Poppins';
}

@media (min-width: 992px) {
  #acc-design-2 h3 {
    font-size: 42px;
    color: #000;
  }
}

#acc-design-2 h4 {
  font-weight: 500;
  font-size: 26px;
  color: #333;
  font-family: 'Poppins';
  border-color: #000000;
  text-transform: capitalize;
  padding-bottom: 5px;
  border-bottom-style: groove;
  border-bottom-width: 1px;
  width: fit-content;
}

@media (min-width: 992px) {
  #acc-design-2 h4 {
    font-size: 26px;
    font-weight: 600;
  }
}

span {
  color: #9743ff;
}

.dot {
  color: #000;
  margin-left: 2px;
  font-size: 30px;
  font-family: Anton, sans-serif;
}

@media (min-width: 992px) {
  .dot {
    color: #000;
    margin-left: 5px;
    font-size: 65px;
    font-family: Anton, sans-serif;
  }
}

.question {
  color: #000;
  margin-left: 2px;
  font-size: 36px;
}

@media (min-width: 992px) {
  .question {
    color: #000;
    margin-left: 5px;
    font-size: 65px;
  }
}

.intro {
  padding-top: 25px;
  padding-bottom: 0;
}

#sticky {
  position: sticky;
  top: 70px;
  padding: 15px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  margin: 0;
  background-color: #9743ff;
  color: #fff;
}

@media (min-width: 768px) {
  #sticky {
    margin-left: 55px;
    border-radius: 25px;
  }
}

.form-control:focus {
  color: #ffffff;
  background-color: rgba(255,255,255,0);
  outline: 0;
}

/* acc-design-3 */

#acc-design-3 .shadow {
  padding: 5px;
}

@media (min-width: 768px) {
  #acc-design-3 .shadow {
    padding: 15px;
  }
}

#acc-design-3 {
  padding: 50px 0;
  font-family: 'Poppins';
}

#acc-design-3 h3 {
  font-family: 'Poppins';
  margin-bottom: 25px;
  font-weight: 500;
}

#acc-design-3 p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #7d8285;
}

/* services-boxed */

#acc-design-4 h2 {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  font-family: 'Poppins';
}

@media (min-width: 992px) {
  #acc-design-4 h2 {
    font-size: 52px;
    color: #000;
  }
}

#acc-design-4 {
}

#acc-design-4 p {
  font-size: 15px;
}

#acc-design-4 div {
  padding: 15px 5px;
  padding-top: 0;
}

@media (min-width: 768px) {
  #acc-design-4 div {
    padding: 15px 5px;
    border-radius: 35px;
    padding-top: 0;
  }
}

#acc-design-4 .fa.fa-pencil-square-o {
  font-size: 70px;
  color: #fb584b;
  margin: 10px;
}

#acc-design-4 h3 {
  font-weight: 600;
  font-size: 24px;
  font-family: 'Poppins';
}

#acc-design-4 a {
  color: #fb584b;
  border-color: #fb584b;
  text-transform: capitalize;
  padding-bottom: 5px;
  border-bottom-style: groove;
  border-bottom-width: 2px;
  width: fit-content;
}

a:hover {
  color: #fb584b;
  text-decoration: none;
}

/* cta-small */

#cta-small .btn.btn-primary {
  background-color: rgba(14,160,255,0);
  border: 1.5px solid rgba(255,255,255,0.7);
  font-size: 13px;
  padding: 10px 32px;
  border-radius: 50px;
  font-family: 'Josefin Sans';
}

#cta-small .cta {
  border: 1px rgba(255,255,255,0);
  background-color: initial;
  font-family: Poppins, sans-serif;
  padding: 25px 0;
  text-align: left;
}

