.bg-primary {
  background-color: #ffffff!important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 500;
  color: rgba(49,52,55,0.9);
}

.dropdown-item {
  font-family: 'Poppins';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(51,51,51,0.7);
}

.btn.btn-primary.nav-btn {
  border: 2px solid #b7b7b7;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  background-color: rgba(0,98,204,0);
  color: rgba(33,37,41,0.83);
  padding: 6px 24px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Poppins';
}

.a:hover {
  color: rgba(251,88,75,0.85);
  text-decoration: blink;
}

#video-and-stats {
  text-align: center;
  padding: 60px 0;
}

@media (min-width: 768px) {
  iframe {
    width: 800px;
    height: 505px;
  }
}

iframe {
  width: 90%;
  height: 300px;
}

#video {
  text-align: center;
  padding: 50px 0;
}

#video iframe {
  width: 98%;
  height: 350px;
}

@media (min-width: 992px) {
  #video iframe {
    width: 880px;
    height: 495px;
  }
}

#sticky {
  position: sticky;
  top: 70px;
  margin: 30px 0;
  font-family: 'Poppins';
}

#sticky h3 {
  font-size: 40px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sticky h3 {
    font-size: 62px;
    padding: 0 35px;
    border: 1px solid rgba(110,110,110,0.2);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
}

#sticky h4 {
  font-size: 38px;
  margin-top: 25px;
}

@media (min-width: 992px) {
  #sticky h4 {
    font-size: 62px;
    padding: 0 35px;
    border: 1px solid rgba(110,110,110,0.2);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    margin-top: 105px;
  }
}

#sticky span {
  color: #6385cd;
}

#home-sticky h2 {
  padding-bottom: 15px;
}

#home-sticky .intro {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 20px;
  color: #434343;
  font-family: Poppins, sans-serif;
  padding: 0;
}

@media (min-width: 992px) {
  #home-sticky .intro {
    padding-left: 150px;
  }
}

#home-2 a {
  color: #fff;
}

#home-cta {
  padding-top: 50px;
  padding-bottom: 70px;
}

.btn.btn-primary.text-white {
  padding: 10px 42px;
  border-radius: 0px;
  font-weight: 500;
}

#home-cta .h2 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 25px 0;
  padding: 0px;
  color: rgba(51,51,51,0.95);
}

@media (min-width: 768px) {
  #home-cta .h2 {
    font-size: 52px;
    line-height: 90px;
    font-weight: 400;
  }
}

#home-cta .bottom-div {
  text-align: center;
}

#home-cta .link {
  font-size: 35px;
  font-weight: 600;
  font-family: 'Poppins';
  color: rgba(51,51,51,0.85);
}

a:hover {
  color: rgba(251,88,75,0.85);
  text-decoration: inherit;
  font-weight: 500;
  font-size: 15px;
}

#nav {
  padding: 0 15px;
}

/* terms and privacy */

#main {
  padding-top: 70px;
  font-family: 'Poppins';
}

#main h2 {
  padding: 25px 0;
  text-align: center;
  font-size: 42px;
}

@media (min-width: 768px) {
  #main h2 {
    font-size: 62px;
    font-weight: 600;
  }
}

#main .intro {
  font-family: 'Poppins';
  padding: 50px 0;
}

#main p {
  padding: 25px 0;
  color: #565656;
}

/* careers */

.table-responsive {
  max-width: 800px;
  margin: 0 auto;
}

/* ad-partners */

#ad-partners {
  text-align: center;
}

#ad-partners img {
  margin: 12px 28px;
}

/* mid-nav */

#mid-nav .nav-item {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #707070;
  text-decoration: none;
  background-color: transparent;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fb584b;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.9);
  border-color: #0c0c0c;
  font-size: 16px;
  font-weight: 600;
}

.nav-link.active {
  font-size: 13px;
  font-weight: 500;
}

.nav-link {
  font-size: 13px;
  font-weight: 500;
}

#nav-mid .nav-item {
  width: 165px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  #nav-mid .nav-item {
    width: 165px;
    text-align: center;
  }
}

/* careers */

#hero-left {
  width: 100%;
  padding: 80px 0;
}

@media (min-width: 768px) {
  #hero-left {
    width: 100%;
    height: 90vh;
    padding: 70px 0;
    margin-top: 55px;
  }
}

#hero-left h1 {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 46px;
  font-weight: 600;
}

#hero-left .p-one {
  padding-right: 20px;
  border: 1px solid rgba(51,51,51,0.1);
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

@media (min-width: 992px) {
  #hero-left .p-one {
    padding-right: 60px;
    border: 1px solid rgba(179,179,179,0.4);
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
  }
}

@media (min-width: 992px) {
  #hero-left h1 {
    font-size: 56px;
  }
}

#hero-left .partner-heading {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  font-family: Poppins, sans-serif;
}

@media (min-width: 992px) {
  #hero-left .partner-heading {
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-weight: 500;
  }
}

#hero-left .btn-top {
  background-color: rgba(14,160,255,0);
  border: 1.5px solid rgba(43,43,43,0.7);
  font-size: 13px;
  padding: 10px 32px;
  border-radius: 50px;
  margin-top: 5px;
}

#hero-left .partner-btn {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  width: 270px;
  height: 42px;
  background-color: rgba(251,88,75,0.85);
  margin-top: 5px;
  border: 0px solid rgba(83,83,83,0.55);
}

#big-btn .job {
  background-color: rgba(14,160,255,0);
  font-size: 32px;
  padding: 10px;
  border: 2px solid rgba(0,0,0,0.7);
  border-radius: 0px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #big-btn .job {
    font-size: 40px;
    padding: 25px;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 55px;
  }
}

#cta-small .card {
  border: 1px rgba(255,255,255,0);
  background-color: initial;
  font-family: Poppins, sans-serif;
  padding: 25px 0;
  text-align: left;
}

#cta-small .card-text {
  font-family: Lato, sans-serif;
  margin-bottom: 22px;
}

#cta-small .btn.btn-primary {
  background-color: rgba(14,160,255,0);
  border: 1.5px solid rgba(255,255,255,0.7);
  font-size: 13px;
  padding: 10px 32px;
  border-radius: 50px;
}

.team-heading {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins';
}

@media (min-width: 768px) {
  .team-heading {
    font-size: 46px;
    margin-bottom: 45px;
    font-weight: 500;
  }
}

