@media (min-width:768px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
  }
}

.heading-h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 25px;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase!important;
}

@media (min-width: 768px) {
  .heading-h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase!important;
  }
}

@media (min-width:768px) {
  header.masthead .intro-text {
    padding-top: 200px;
    padding-bottom: 150px;
  }
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: transparent;
  }
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 12px;
  font-weight: 500;
  padding: .75em 0;
  letter-spacing: 1px;
  color: #343434;
  font-family: 'Poppins';
}

@media (min-width:992px) {
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all .3s;
  }
}

.services {
  text-align: center;
}

.h2 {
  font-size: 25px;
  font-family: 'Poppins';
  color: #333;
  margin: 25px 0;
  font-weight: 600;
}

@media (min-width: 992px) {
  .h2 {
    font-size: 52px;
  }
}

#section-2 .h2 {
  font-size: 26px;
  font-family: 'Poppins';
  line-height: 37.2px;
  color: #333;
}

@media (min-width: 992px) {
  #section-2 .h2 {
    font-size: 42px;
    font-family: 'Poppins';
    line-height: 58.2px;
  }
}

/* index */

#hero-1 .btn-1 {
  border: 2px solid;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  width: 270px;
  height: 42px;
  background-color: rgba(0,123,255,0);
  margin-top: 10px;
}

@media (min-width: 768px) {
  #hero-1 .btn-1 {
    margin-top: 0;
    margin-left: 10px;
  }
}

#hero-1 .div-hero {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins';
  padding: 100px 0px;
}

@media (min-width: 768px) {
  #hero-1 .div-hero {
    padding: 90px 0;
    padding-top: 120px;
    font-size: 24px;
  }
}

#hero-1 .div-2 {
  max-width: 800px;
  margin: 0 auto;
}

#hero-1 .p-top {
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
  color: #ffffff;
}

#hero-1 .p-bot {
  font-size: 11px;
  font-family: 'Poppins';
  font-weight: 400;
  color: rgb(255,255,255);
}

#hero-1 h1 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 992px) {
  #hero-1 h1 {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

#hero-1 .feature-btn {
  margin-right: 8px;
  font-weight: 500;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  #hero-1 .feature-btn {
    margin-right: 8px;
  }
}

#hero-1 .overlay {
  background: rgba(43,0,215,0.25);
}

#hero-1 .div-hero-2 {
  color: #fff;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  #hero-1 .div-hero-2 {
    color: #fff;
    padding-bottom: 10px;
    padding-right: 50px;
  }
}

#hero-1 .div-2 {
  color: #fff;
  padding: 25px 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #hero-1 .div-2 {
    color: #fff;
    padding-bottom: 30px;
  }
}

#hero-1 .div-1 {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins';
  padding: 55px 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #hero-1 .div-1 {
    padding: 110px 0;
  }
}

/* hero-left */

#hero-left h1 {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 46px;
  font-weight: 600;
}

#hero-left .p-one {
  padding-right: 20px;
}

@media (min-width: 992px) {
  #hero-left .p-one {
    padding-right: 60px;
  }
}

@media (min-width: 992px) {
  #hero-left h1 {
    font-size: 56px;
  }
}

#hero-left .partner-heading {
  font-size: 30px;
  text-transform: none;
}

@media (min-width: 992px) {
  #hero-left .partner-heading {
    font-family: 'Montserrat';
    font-size: 52px;
  }
}

#hero-left .btn-top {
  background-color: rgba(14,160,255,0);
  border: 1.5px solid rgba(43,43,43,0.7);
  font-size: 13px;
  padding: 10px 32px;
  border-radius: 50px;
  margin-top: 5px;
}

#hero-left .partner-btn {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  width: 270px;
  height: 42px;
  background-color: rgba(251,88,75,0.85);
  margin-top: 5px;
  border: 0px solid rgba(83,83,83,0.55);
}

#big-btn .job {
  background-color: rgba(14,160,255,0);
  font-size: 26px;
  padding: 10px;
  border: 2px solid rgba(0,0,0,0.7);
  border-radius: 0px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #big-btn .job {
    font-size: 40px;
    padding: 25px;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 55px;
    font-family: 'Poppins';
    font-weight: 500;
  }
}

/* video-and-stats */

#video-and-stats {
  text-align: center;
  padding: 60px 0;
}

#video {
  text-align: center;
  padding: 50px 0;
}

#video iframe {
  width: 98%;
  height: 350px;
}

@media (min-width: 992px) {
  #video iframe {
    width: 880px;
    height: 495px;
  }
}

.intro {
  padding-top: 25px;
  padding-bottom: 0;
  font-family: 'Poppins';
}

#sticky {
  position: sticky;
  top: 70px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  background: rgb(254,111,1);
  background: linear-gradient(90deg, rgba(254,111,1,1) 0%, rgba(245,255,0,1) 100%);
}

@media (min-width: 768px) {
  #sticky {
    margin-left: 85px;
    border-radius: 5px;
  }
}

#sticky .form-control:focus {
  color: #000000;
  background-color: #ffffff;
  outline: 0;
}

h4 {
  color: var(--dark);
}

/* acc-design-3 */

#acc-design-3 .shadow {
  padding: 5px;
}

@media (min-width: 768px) {
  #acc-design-3 .shadow {
    padding: 15px;
  }
}

#acc-design-3 {
  padding: 50px 0;
  font-family: 'Poppins';
}

#acc-design-3 h3 {
  font-family: 'Poppins';
  margin-bottom: 25px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom-style: groove;
  border-bottom-width: 1.5px;
  width: fit-content;
}

#acc-design-3 p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #7d8285;
}

#cta-small .btn.btn-primary {
  background-color: rgba(14,160,255,0);
  border: 1.5px solid rgba(255,255,255,0.7);
  font-size: 13px;
  padding: 10px 32px;
  border-radius: 50px;
  font-family: 'Poppins';
}

#cta-small .cta {
  border: 1px rgba(255,255,255,0);
  background-color: =;
  font-family: Poppins, sans-serif;
  padding: 25px 0;
  text-align: left;
}

#cta-small {
  margin: 5px;
  padding: 15px;
  background-color: #9743ff;
}

@media (min-width: 992px) {
  #cta-small {
    margin: 35px;
    padding: 35px;
    padding-left: 100px;
    background-color: #9743ff;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Poppins';
}

body {
  overflow-x: hidden;
  font-family: 'Poppins';
}

