.bg-primary {
  background-color: #ffffff!important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 500;
  color: rgba(49,52,55,0.9);
}

.dropdown-item {
  font-family: 'Poppins';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(51,51,51,0.7);
}

.btn.btn-primary.nav-btn {
  border: 2px solid #b7b7b7;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  background-color: rgba(0,98,204,0);
  color: rgba(33,37,41,0.83);
  padding: 6px 24px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Poppins';
}

#home-1 {
  text-align: center;
  font-family: Poppins, sans-serif;
}

@media (min-width: 768px) {
  #home-1 {
    font-family: 'Poppins';
    text-align: left;
  }
}

#home-1 .jumbotron {
  background-color: rgb(255,255,255);
  padding: 0;
}

#home-1 h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
  padding: 0px;
  color: rgba(51,51,51,0.95);
}

@media (min-width: 768px) {
  #home-1 h2 {
    font-size: 62px;
    line-height: 90px;
  }
}

.form2 {
  max-width: 100%;
}

@media (min-width: 768px) {
  .form2 {
    max-width: 300px;
  }
}

.link-p {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 12px;
}

#home-1 a:hover {
  color: rgba(251,88,75,0.85);
  text-decoration: blink;
}

#home-1 .link {
  font-size: 30px;
  font-weight: bold;
}

#video-and-stats {
  text-align: center;
  padding: 60px 0;
}

@media (min-width: 768px) {
  iframe {
    width: 800px;
    height: 505px;
  }
}

iframe {
  width: 90%;
  height: 300px;
}

#video {
  text-align: center;
  padding: 50px 0;
}

#video iframe {
  width: 98%;
  height: 350px;
}

@media (min-width: 992px) {
  #video iframe {
    width: 880px;
    height: 495px;
  }
}

#sticky {
  position: sticky;
  top: 70px;
  margin: 30px 0;
  font-family: 'Poppins';
}

#sticky h3 {
  font-size: 40px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sticky h3 {
    font-size: 62px;
    padding: 0 35px;
    border: 1px solid rgba(110,110,110,0.2);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
}

#sticky h4 {
  font-size: 38px;
  margin-top: 25px;
}

@media (min-width: 992px) {
  #sticky h4 {
    font-size: 62px;
    padding: 0 35px;
    border: 1px solid rgba(110,110,110,0.2);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    margin-top: 105px;
  }
}

#sticky span {
  color: #6385cd;
}

#home-sticky h2 {
  padding-bottom: 15px;
}

#home-sticky .intro {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 20px;
  color: #434343;
  font-family: Poppins, sans-serif;
  padding: 0;
}

@media (min-width: 992px) {
  #home-sticky .intro {
    padding-left: 150px;
  }
}

#home-2 {
  font-family: 'Poppins';
  padding-bottom: 25px;
}

#home-2 h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 35px;
  padding: 0px;
  color: rgba(51,51,51,0.95);
}

@media (min-width: 768px) {
  #home-2 h2 {
    font-size: 62px;
    line-height: 90px;
  }
}

.card {
  text-align: center;
  border-color: rgba(51,51,51,0);
  background-color: rgba(51,51,51,0.85);
  color: #fff;
  padding: 10px 0;
  font-family: 'Poppins';
  margin-bottom: 5px;
}

#home-2 a {
  color: #fff;
}

.btn.btn-outline-primary.btn-block.text-white {
  border: 2px solid rgba(255,255,255,0.5);
  text-transform: uppercase;
  font-weight: 500;
}

#home-cta {
  padding-top: 50px;
  padding-bottom: 70px;
}

.btn.btn-primary.text-white {
  padding: 10px 42px;
  border-radius: 0px;
  font-weight: 500;
}

#home-cta .h2 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 25px 0;
  padding: 0px;
  color: rgba(51,51,51,0.95);
}

@media (min-width: 768px) {
  #home-cta .h2 {
    font-size: 52px;
    line-height: 90px;
    font-weight: 400;
  }
}

#home-cta .bottom-div {
  text-align: center;
}

#home-cta .link {
  font-size: 35px;
  font-weight: 600;
  font-family: 'Poppins';
  color: rgba(51,51,51,0.85);
}

a:hover {
  color: rgba(251,88,75,0.85);
  text-decoration: inherit;
  font-weight: 700;
  font-size: 15px;
}

#nav {
  padding: 0 15px;
}

/* terms and privacy */

#main {
  padding-top: 70px;
  font-family: 'Poppins';
}

#main h2 {
  padding: 25px 0;
  text-align: center;
  font-size: 42px;
}

@media (min-width: 768px) {
  #main h2 {
    font-size: 62px;
    font-weight: 600;
  }
}

#main .intro {
  font-family: 'Poppins';
  padding: 50px 0;
}

#main p {
  padding: 25px 0;
  color: #565656;
}

/* careers */

.table-responsive {
  max-width: 800px;
  margin: 0 auto;
}

/* ad-partners */

#ad-partners {
  text-align: center;
}

#ad-partners img {
  margin: 12px 28px;
}

/* mid-nav */

#mid-nav {
}

#mid-nav .nav-item {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #707070;
  text-decoration: none;
  background-color: transparent;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fb584b;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(251,88,75,0.85);
  border-color: #0062cc;
  font-size: 17px;
  font-weight: 600;
}

.nav-link.active {
  font-size: 13px;
  font-weight: 500;
}

.nav-link {
  font-size: 13px;
  font-weight: 500;
}

