#web-hero {
  background-image: url("pexels-daniel-putzer-633409.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  margin-top: 62px;
}

#web-hero .btn-1 {
  border: 2px solid;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  width: 270px;
  height: 42px;
  background-color: rgba(0,123,255,0);
  margin-top: 10px;
}

@media (min-width: 768px) {
  #web-hero .btn-1 {
    margin-top: 0;
    margin-left: 10px;
  }
}

.btn.btn-primary.btn-1 {
}

#web-hero .div-1 {
  text-align: center;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Poppins';
  padding: 25px 10px;
}

@media (min-width: 768px) {
  #web-hero .div-1 {
    padding: 110px 10px;
  }
}

web-hero .div-2 {
  max-width: 800px;
  margin: 0 auto;
}

#web-hero .p-top {
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
  color: #ffffff;
}

#web-hero .p-bot {
  font-size: 11px;
  font-family: 'Poppins';
  font-weight: 400;
  color: rgb(255,255,255);
}

#web-hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  #web-hero h1 {
    font-size: 62px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

#web-hero .feature-btn {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  #web-hero .feature-btn {
    margin-right: 8px;
  }
}

#web-hero .overlay {
  background-color: rgba(251,88,75,0.1);
}

#web-hero .div-2 {
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  #web-hero .div-2 {
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}

#web-hero .col.with-borders-2 {
  border: 1px solid rgba(255,255,255,0.65);
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

@media (min-width: 768px) {
  #partner-hero .col.with-borders-2 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
}

