#web-hero {
  background-image: url("pexels-daniel-putzer-633409.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#web-hero .btn-1 {
  border: 2px solid;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  width: 270px;
  height: 42px;
  background-color: rgba(0,123,255,0);
  margin-top: 10px;
}

@media (min-width: 768px) {
  #web-hero .btn-1 {
    margin-top: 0;
    margin-left: 10px;
  }
}

.btn.btn-primary.btn-1 {
}

#web-hero .div-1 {
  text-align: center;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  font-family: 'Poppins';
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

@media (min-width: 768px) {
  #web-hero .div-1 {
    padding: 30px;
    padding-top: 90px;
    padding-bottom: 100px;
  }
}

web-hero .div-2 {
  max-width: 800px;
  margin: 0 auto;
}

#web-hero .p-top {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0px;
  color: rgba(255,255,255,0.8);
}

#web-hero .p-bot {
  text-align: center;
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 500;
  color: rgb(255,255,255);
}

#web-hero h1 {
  font-size: 34px;
  margin-bottom: 25px;
  font-weight: 600;
}

@media (min-width: 768px) {
  #web-hero h1 {
    font-size: 62px;
  }
}

#web-hero .col.with-borders {
  border: 1px solid rgba(255,255,255,0.65);
  border-top: 0;
  border-bottom: 0;
}

#web-hero .col.with-borders-2 {
  border: 1px solid rgba(255,255,255,0.65);
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

@media (min-width: 768px) {
  #web-hero .col.with-borders-2 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
}

#web-hero .col.with-borders {
  border: 1px solid rgba(255,255,255,0.65);
  border-bottom: 0;
}

#web-hero .overlay {
  background-color: rgba(0,0,0,0.4);
}

#web-hero .div-2 {
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 45px;
}

#partner-hero {
  margin: 5px;
}

@media (min-width: 992px) {
  #partner-hero {
    margin: 0 5px;
    padding: 50px 0;
  }
}

#partner-hero .btn-1 {
  margin-top: 30px;
  border: 1px solid #ffffff;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  background-color: #1485ee;
  color: #ffffff;
  padding: 8px 24px;
  font-size: 16px;
  border-radius: 0;
  font-family: 'Poppins';
  margin: 10px;
}

#partner-hero .div-1 {
  text-align: center;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  color: #333;
  font-weight: 500;
  font-family: 'Poppins';
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  #partner-hero .div-1 {
  }
}

#partner-hero h2 {
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: 600;
}

@media (min-width: 768px) {
  #partner-hero h2 {
    font-size: 46px;
  }
}

#web-hero .col.with-borders-2 {
  border: 1px solid rgba(255,255,255,0.65);
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

@media (min-width: 768px) {
  #partner-hero .col.with-borders-2 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
}

#partner-hero .overlay {
}

