.brands {
  color: #313437;
  background-color: #fff;
  padding: 25px 0;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 15px;
  width: 145px;
}

#home-cta .bottom-cta {
  text-align: center;
  border-color: rgba(51,51,51,0);
  background-color: rgba(51,51,51,0);
  color: #333;
  padding: 10px 0;
  font-family: 'Poppins';
  margin-bottom: 5px;
}

.dropdown-item {
  font-size: 14px;
}

#features-mid .left {
  font-family: 'Poppins';
  text-align: center;
}

